<% if @cart.errors.any? || @cart_item.errors.any? %>
alert("not valid")
<% else %>
  $(".cart-text").html("<%= escape_javascript(render 'layouts/cart_text') %>")
  $(".alert-success").html("<%= @cart_item.product.title %> added to cart")
  $(".alert-success").show("slow")
<% end %>