<h2><%=@category.title %></h2>

<% @category.products.each do |p| %>
<div style="border: 1px solid #e4e4e4; float: left; width: 200px;">
  <p><%= link_to p.title, product_url(id:p.id) %></p>
  $<%= p.price %>
</div>
<% end %>

