
<div class="row">

	<div class="col-md-3">
		<!--%= image_tag (@product.images) %-->
		<%= image_tag ('white_tshirt') %>
	</div>

	<div class="col-md-3">
		<h3><%= @product.title %></h3>
		<p>$<%= @product.price %></p>

		<%= form_for @cart_item, remote: true do |f| %>
		  <%= f.select :size_id, options_for_select(@product.sizes.pluck(:title, :id)) %>
		  <%= f.select :quantity, options_for_select(1..9) %>
		  <%= f.hidden_field :product_id, value: @product.id %>
		  <%= f.submit("Add to cart") %>
		<% end %>
		
		<p><%= @product.description %></p>
	</div>

</div>
