<div class="col-md-3">
	categories
  <ul>
  <% @categories.each do |c| %>
  <% unless c.has_parent? %>
    <li><%=c.title %></li>
    <% if c.has_children? %>
    <ul>
      <% c.children.each do |cc| %>
      <li>
        <%= link_to cc.title, category_path(cc) %>
      </li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
  <% end %>
  </ul>

</div>
