<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "OTM", root_path, class: "navbar-brand" %>
    </div>

    
      <ul class="nav navbar-nav navbar-right">
        <li class="cart-text"><%= render 'layouts/cart_text' %></li>
         <% if current_user %>
  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
  <% else %>
  <li><%= link_to "Log In", new_user_session_path %></li>
  <% end %>

      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>