<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 
  <%= render "layouts/header" %>
  
<div class="container">
    <p class="alert alert-success collapse"></p>
    <%=render 'layouts/categories' if @have_categories %>

<%= yield %>

</div>

</body>
</html>
